/* CLASES REUTILIZABLES */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.71429;
    font-family: 'Kaushan Script', cursive , 'Montserrat', sans-serif;
  
  }
  
  img {
    vertical-align: middle;
  }
  
  .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 14px;
    padding-right: 14px;
  }
  
  .container:before, .container:after {
    content: " ";
    display: table;
  }
  
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .container:after {
    clear: both;
  }
  
  .mb-0 {
    margin-bottom: 0px;
  }
  
  .mt-0 {
    margin-top: 0px;
  }
  
  .m-0 {
    margin: 0px;
  }
  
  a, span{
    color: #373B47;
    text-decoration: none;
  }
  
  a:hover {
    color: #E95853;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  .containerBody{
    width: 85%;
    margin: 0 auto;
  }
  /*---------------------fin de clases reutilizables------------------ */
header{
    /* width:100%; */
    /* padding: 1rem 0; */
    /* font-family: 'Monoton', cursive; */
    position: relative;
    left:0;
    top:0;
    right:0;
}
 header nav{
    /* color: white; */
    /* 'Jomolhari', serif */
    text-decoration: none;
 }
 img{
    width: 100px; 
    height: 100px
 }
.firstNav, .secondNav {
   display:flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.firstNav-color{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    /* background: rgb(211, 207, 203); */

    /* background:rgb(204, 165, 129); */
    /* background: rgb(231, 187, 65); */
   background:rgba(57, 62, 65, 0.781);
   /* background: rgb(211, 207, 203); */
   /* background:rgb(228, 201, 192); */
}
.secondNav-color{
   font-family: 'Monoton', cursive; 
   letter-spacing: 1px;
    /* background:rgb(228, 201, 192); */
   background: rgb(231, 187, 65);
   /* background:rgb(89, 127, 127); */
   /* background: rgb(68, 187, 164); */
}
/* .secondNav{
    width: 50%;
} */
 .secondNav ul{
    margin:0;
    padding: 0;
    list-style: none;  
 }
   .secondNav ul li {
      display:block;   
    }
     .secondNav ul li a {
        font-size: 1.1rem;
        display: block;
        padding:0.8rem 1.3rem;
        transition: all 0.4s linear;
        color: white;
     }
       .secondNav ul li a:hover{
          background: rgba(98, 89, 89, 0.685);
          border: white 1px solid;
          border-radius:7px;
       }
/* ------------------css del main------------ */
/* main {
  background:rgb(228, 201, 192);
  background:rgb(57, 62, 65);

} */
 /* section{
     display: inline;
 }*/
 body{
   background: url('../imagenes2/flor.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

 }
 /* .containerBody{
  width: 70%;
 } */
 /* #productsList{
   width: 40%;

 } */
 #productsList, #templTableList{
   text-align: center;
 }
 form, table {
  text-align: left;
}
 #productsList div section{
   background:rgba(192, 171, 143, 0.767);
   /* width: 70%; */
   /* border-bottom: 12px #373B47; */
 }
 #productsList div section div{
  /* border-style:solid; */
  /* border-bottom:20px; */
  text-align: left;
  border-bottom: 1px solid rgb(128, 128, 128);
  cursor: pointer;
 }
  #productsList div section div img{
    border-radius: 5px;
    margin-right: 1.3rem;
  }
h5{
   font-size: 20px;
   /* color: green */
   margin:0 15px;
   padding: 15px 0;
   

 }
 label{
   font-size: 20px;
 }
 #productsList button, #submit-kitchen {
   background:rgb(231, 187, 65);
   font-size: 1.2rem;
   padding: 10px;
   border-radius: 10px;
   margin: 2rem 0;
   border: 1px solid white;
   text-align: center;
   font-family: 'Monoton', cursive;
   color: white; 
   cursor: pointer;
 }
 /* ----------------section tabla de pedidos------------------------- */
#templTableList{
    background: white;
    padding: 1.3rem 0;
    border: 5px solid rgba(57, 62, 65, 0.781);
  }
#customer-name{
   width: 100%;
   border: none;
   border-bottom: 1px solid rgb(46, 46, 45);
 }
table{
  margin: 1rem 0;
 }
td input {
  width: 20px;
  font-size: 17px;
  border: none;
}
#numbers{
  min-width: 76px;
}
.total-product{
  text-align: center;
}
.btn-drec, .btn-inc{
  font-size: 16px;
  padding: 0 3px;
}
tfoot{
  padding: 1rem 0;
}
#pedidos tr{
  border-bottom: 1px solid rgb(231, 231, 37);
}
/* ---------------------footer------------------------ */
footer{
  background:rgba(57, 62, 65);
  margin-top: 5rem;
  padding: 1rem 0;
  text-align: center;
  color: white;
  position:fixed;
   left:0px;
   right:0px;
   bottom:0px;

} 
/*--------------------responsive-----------------  */
@media only screen and (min-width: 500px){
  .secondNav ul li {
   display:inline-block;   
}
}

@media only screen and (min-width: 700px){
  #productsList{
    width: 50%;
}
  main{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}
  #templTableList{
    width: 50%;
    height: 20%;
}
}
/*
.label{
    font-size: 17px
}
 .desayuno{
    display: inline;

 }
 footer{
    background:black;
    text-align: center;
    color: bisque;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
 } */